<h1>Hello Angular {{title}} {{data}}</h1>
<h1>{{getVal()}}</h1>
<h1>{{2+2*50}}</h1>
<h1>{{num===100}}</h1>
<h1 class={{data}}>Hello Angular {{title}} {{data}}</h1>
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<app-user-list></app-user-list>
<app-footer-cmp></app-footer-cmp>
<p>Inline CSS Example</p>
<app-inline-css-exp></app-inline-css-exp>
<p>Inline HTML Example</p>
<app-inline-html-emp></app-inline-html-emp>
<p>Inline HTML & CSS Example</p>
<app-inline-html-css-exp></app-inline-html-css-exp>