<!--
<app-bootstrap-exp></app-bootstrap-exp>
<app-todo-list-exp></app-todo-list-exp> -->

<!-- Below code is written for Parent to Child data communication -->
<!-- For Parent to child communication -->
<!--
<app-child-component-exp [item]="data"></app-child-component-exp>
<button (click)="updateData()">Update Child Component</button> -->

<!-- For Child to Parent communication -->
<!-- <h3>{{ data }}</h3>
<app-child-component-exp (updateDataEvent)="updateData($event)"></app-child-component-exp> -->

<!-- Below code is written for Reusable component -->
<!--
<ul *ngFor="let user of userDetails">
    <li>
        <app-reusable-component-exp [item]="user"></app-reusable-component-exp>
    </li>
</ul>
-->
<!-- <app-two-way-binding-exp></app-two-way-binding-exp>
<app-template-reference-variable-exp></app-template-reference-variable-exp>
<app-basics-typescript-exp></app-basics-typescript-exp> -->
<app-pipes-exp></app-pipes-exp>