<!-- <app-function-example></app-function-example>
<app-events-exp></app-events-exp>
<app-get-input-value-exp></app-get-input-value-exp>
<app-counter-exp></app-counter-exp>
<app-component-style-exp></app-component-style-exp>
<app-property-binding-exp></app-property-binding-exp>
<app-if-else-exp></app-if-else-exp>
<app-switch-case-exp></app-switch-case-exp>
<app-for-loop-exp></app-for-loop-exp>
<app-style-binding-exp></app-style-binding-exp> -->

<!-- Example for Header -->
<!--
<app-header-exp></app-header-exp>
<h1>Header Example</h1> -->

<!--
<app-simple-form-exp></app-simple-form-exp>
<app-toggle-element-exp></app-toggle-element-exp> -->
<app-bootstrap-exp></app-bootstrap-exp>